.single-product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    margin:0px 5px 5px 0px;
}

.product-name{
   margin-left: 10px;
    color:green;
    font-weight: 400;
}
.product-image{
    width:450px;
    height: 300px;
    margin-left: 30px;
}
.product-button{
    background: rgb(243, 87, 15);
    width:155px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    color:white;
    font-size: 17px;
    font-weight: 400;
    cursor:pointer;
}