.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background: black;
    line-height: 50px;
    font-size: 20px;
    margin-bottom: 52px;
}
nav a{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color: white;
}
nav a:hover{
background: whitesmoke;
color:black;
}